<!DOCTYPE html>
<html>
<head><title>Graph</title>
{% load static %}
<link rel='stylesheet' type='text/css' href="{% static 'decorate.css' %}">
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>

</head>
<body>


<canvas id="myCanvas" width="700" height="500" style="background-color: #ffffff; z-index: 0">
Your browser does not support the HTML5 canvas tag.</canvas>
<br>
<button id="vertex" style="left:450px;">Vertex</button>
<button id="edge" style="left:560px;" >Edge</button>
<button id="clear" style="left:670px;">Clear</button>
<button id="submit" onclick="send()" style="left:790px;">Submit!</button>
{% load static %}
<script src= "{% static 'graphscript.js' %}"> </script>

</body>
</html>
